<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="CNNSTR" connectionString="Server= localhost\SQLEXPRESS;DataBase=PROGRA5_2019_3;INTEGRATED SECURITY = TRUE;User Id=ksolorzano;Password=123;"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>